.box {
    height: 30rem;
    padding: 1rem;
    width: 50rem;
    border: 1px solid var(--border);
    border-radius: 1rem;
    background: var(--gradient);
    border-top: 1px solid var(--highlight);
    justify-self: center;
}