.page {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.box {
    height: 30rem;
    width: 50%;
    justify-self: center;
    align-self: center;
    background-color: var(--bg-dark);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* change padding for thicker border animation  */
    padding: 2px;
}

.inner {
    background-color: var(--bg);
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    border-radius: 1rem;
    padding: 5% 5%;
    box-sizing: border-box;
    display: flex;
}

/* spinning linear gradient to create animated border */
.box::before {
  content: "";
  display: block;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    var(--primary) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 70vh;
  width: 500px;
  transform: translate(0);
  position: absolute;
  animation: rotate 5s linear forwards infinite;
  z-index: 0;
  top: 50%;
  transform-origin: top center;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.arrow {
    position: absolute;
    left: 50%;
    translate: 0 50px;
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid var(--primary);
    border-right: 5px solid var(--primary);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.left {
  width: 40%;
  height: 100%;
  border: 1px solid white;
  border-image: linear-gradient(180deg, var(--bg), var(--border-muted), var(--bg));
}

img{
  height: 30%;
  border-radius: 100%;
  margin-bottom: 5px;
}

h1 {
  color: var(--primary);
  font-size: 2.25rem;
  margin-bottom: 5px;
}

h2 {
  color: var(--text);
  margin-bottom: 10px;
}

h3 {
  color: var(--text-muted);
  margin-bottom: 30px;
}

.socials {
  display: flex;
  gap: 0 1rem;
}

.social:hover svg path {
  fill: var(--primary);
}

.download {
  border: 1px solid var(--primary);
  border-radius: 1rem;
  padding: 5px 20px;
  color: var(--primary);
  transition: 0.5s;
}

.download:hover {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--bg);
  stroke: var(--bg);
}

.download svg path {
  stroke: var(--primary);
  transition: 0.5s;
}

.download:hover svg path {
  stroke: var(--bg);
}

.right {
  width: 60%;
  height: 100%;
}